@model CourseIndexViewModel

@{
    ViewBag.Title = "Cursos";
}
<h3>All courses</h3>
<table>
    @foreach (var course in Model.listCourse)
    {
        <tr>
            <td><h2>@course.id.</h2></td>
            <td><h2>@course.Name</h2></td>
            <td><a asp-action="details" style="text-decoration: none" asp-route-id="@course.id">  Details</a></td>
            <td><a asp-action="Delete" style="text-decoration: none" asp-route-id="@course.id">Remove</a> </td>
            <td><a asp-page="/Course/upDate" style="text-decoration: none" asp-route-id="@course.id">Edit</a></td>
        </tr>
    }
</table>
<a asp-action="Index" asp-controller="Home">Home</a>   <a asp-action="create" style="text-decoration: none">Create</a>

@section footer{ 
    Course
}