@model Author

<section>
    <h3>@Model.id . @Model.Name</h3>
    <div>
        <a asp-action="details" asp-route-id="@Model.id">Details</a>
        <a asp-action="Delete" asp-route-id="@Model.id">Remove</a>
        <a asp-action="upDate" asp-route-id="@Model.id">Edit</a>
    </div>
</section>