@model WebApplicationCore.ViewModels.StudentIndexViewModel

<h2>@Model.CurrentMensage</h2>

    <table>
        @foreach (var student in Model.listStudent)
        {
            <tr>
                <td><h2>@student.id . Name : @student.Name</h2></td>
                <td><a asp-action="Details" asp-route-id="@student.id">Details</a></td>
                <td><a asp-action="Delete" asp-route-id="@student.id">Delete</a></td>
                <td><a asp-action="upDate" asp-route-id ="@student.id">Edit</a></td>

            </tr>
        }
    </table>
<a asp-controller="Home" asp-action="Index">Home</a>  <a asp-action="Create">Create</a>

